{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Add Department</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.dept_name.label_tag }}
                    {{ form.dept_name }}
                </div>
                <button type="submit" class="btn btn-success">Add</button>
                <a href="{% url 'manage_department' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
